
@{
    ViewBag.Title = "View";
}
    <br>
    <div class="form-group">
        <div class="text-center">
            <h2>Access Denied. This page available only for developers :(</h2>
        </div>
    </div>

